<!--The content below is only a placeholder and can be replaced.-->
<header class="root-container">
  <nav class="nav-container">
    <a href="#" routerLink='/home' class="nav-left">ngApp</a>
    <div class="nav-right">
      <ul>
        <li><a routerLink='/dealers'>Dealers</a></li>
        <li><a routerLink='/sales'>Sales</a></li>
        <li><a routerLink='/post-dealers'>PostDealers</a></li>
        <li><a routerLink=''>PostSales</a></li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>

