.dealer {
  width: 90%;
  margin: 0 auto;
}

.dealer-header {
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
    align-items: center;
}

.dealer-header input {
    height: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #b1adada6;
    outline: none;
    padding-left: 0.5rem;
    width: 15rem;
}

.dealer-con {
  display: flex;
  flex-wrap: wrap;
}

.dealer-con--i {
  padding: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 0.9rem;
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  border-radius: 0.2rem;
  transition: all 0.3s;
}

.dealer-con--i:hover {
    background-color: #bdbdbd;
}

li {
  list-style: none;
  margin-bottom: 0.2rem;
}

.dealer-search {
    position: relative;
}

.dealer-search i {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    cursor: pointer;
}
