/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

html,
body {
  font-family: sans-serif;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

input {
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
